:root {
    --body-font-family: 'Times', serif;
    --title-font-family: 'Helvetica', sans-serif;

    --highlight: #46C8E9;

    --neutral-000: #FFFFFF;
    --neutral-100: #F8F8FB;
    --neutral-200: #E0E6EB;
    --neutral-300: #D4DCE5;
    --neutral-400: #CCD4DB;
    --neutral-500: #AFBFCC;
    --neutral-600: #929EB0;
    --neutral-700: #6F7A8A;
    --neutral-800: #404A5B;
    --neutral-900: #212833;
    --neutral-1000: #101010;

    --green: #2c922c;
    --red: #c52c2c;

    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 18px;
    --font-size-5: 20px;
    --font-size-6: 24px;
    --font-size-7: 30px;
    --font-size-8: 36px;
    --font-size-9: 48px;
    --font-size-10: 60px;
    --font-size-11: 72px;

    --size-1: 1px;
    --size-2: 2px;
    --size-3: 4px;
    --size-4: 8px;
    --size-5: 12px;
    --size-6: 16px;
    --size-7: 24px;
    --size-8: 32px;
    --size-9: 48px;
    --size-10: 64px;
    --size-11: 96px;
    --size-12: 128px;
    --size-13: 192px;
    --size-14: 256px;
    --size-15: 384px;
    --size-16: 512px;
    --size-17: 640px;
    --size-18: 768px;
    --size-19: 924px;
}

form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    margin: 0 var(--size-5);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label:hover {
    cursor: pointer;
}

input[type="radio"]:checked+label+input { 
    visibility: visible;;
} 

input[type="submit"].check-submit {
    margin: 0 var(--size-3);
    visibility: hidden;
    width: var(--size-7);
    height: var(--size-7);
    border-radius: var(--size-6);
    border: var(--size-1) solid var(--green);
    color: var(--green);
}

input[type="submit"].check-submit:hover {
    cursor: pointer;
}

.select-label-and-submit {
    padding: var(--size-3);
    height: var(--size-7);
}

#flex {
    justify-content: flex-start;
    max-width: var(--size-16);
}

h3 {
    margin: var(--size-6) auto;
}

label {
    height: var(--size-7);
    margin: var(--size-5) 0;
}

.player-list {
    width: 100%;
    border-radius: var(--size-4);
}

.player-list li {
    margin: var(--size-5);
    padding: 0 var(--size-5)
}

.player-name-label {
    font-weight: 700;
}

#good-list {
    margin-bottom: var(--size-4);
}

#bad-list li {
    border-left: var(--size-2) solid var(--red);
}

#good-list li {
    border-left: var(--size-2) solid var(--green);
}

#purpose-submit {
    font-size: var(--font-size-5);
    margin: var(--size-6) auto;
    border-radius: var(--size-7);
    border: var(--size-1) solid var(--green);
    color: var(--green);
}

#purpose-submit:hover {
    cursor: pointer; 
}