:root {
    --light: #FFF;
    --dark: #101010;
    --accent: #EAEAEA;
    --highlight: rgb(100, 200, 200);
}

body {
    font-family: 'Scheherazade', serif;
    background-color: var(--light);
    font-size: 1.2em;
}

button {
    background: var(--light);
    border: 1px solid var(--dark);
    border-radius: 2px;
}

ul { 
    list-style: none;
}

a {
    color: var(--dark);
    text-decoration: underline;;
}

h1 a {
    text-decoration: none;
}

object {
    width: 100%;
    height: 400px;
}

a:hover {
    color: var(--accent);
    text-decoration: none;
}

button:focus{
    outline: 0;
}

a.nav-link{
    text-align: center;
    text-decoration: none;;
}

nav.navbar.navbar-expand-md {
    width: 100%;
}

.navbar {
    padding: 0;
}

.biolist {
    padding-inline-start: 0.5em !important;
}

.booklist {
    padding-inline-start: 0 !important;

}

.active {
    font-weight: bold;
}

@media (min-width: 768px) {
    object {
        height: 800px;
        width: 80%;
    }
    a.nav-link {
        text-align: left;
    }
    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: column;
    }
    .navbar {
        position: fixed;
    }
    #name {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 768px) {
    img {
        width: 100%;
    }
}

#menu-top-hr {
    margin-top: 0;
}

#name {
    margin-bottom: 0;
}

#top-row {
    background: var(--dark);
}

#name a {
    color: var(--light);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: .75em;
}

#clicked-image-jumbo {
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--light);
    border: 2px solid var(--dark);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 2px 3px rgba(0,0,0,0.24);
}

#jumbo-image {
    width: 65%;
    height: 65%;
}

::selection {
    background: var(--highlight); /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: var(--highlight); /* Gecko Browsers */
}