body {
    font-family: 'Scheherazade', serif;
    background-color: #EAEFF2;
    font-size: large;
}

ul { 
    list-style: none;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: column;
    }
}

.booklist, .biolist{
    padding-inline-start: 0.5em !important;
}

nav.navbar.navbar-expand-md {
    width: 100%;
}

a.nav-link{
    text-align: center;
}

.navbar {
    padding; 0;
}