:root {
    --body-font: 'Scheherazade', serif;
    --header-font: 'Roboto', sans-serif;
    --body-text-color: #000000;
    --body-bg-color: #FFFFFF;
    --header-text-color: #000000;
    --header-bg-color: #FFFFFF;
}

header {
    width: 100%;
    background-color: var(--header-bg-color);
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

h1 {
    text-align: center;
    font-family: var(--header-font);

}

h3 {
    margin-block-start: .5em;
    margin-block-end: .5em;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav ul {
    padding-left: 50%;
}

li a {
    color: var(--body-text-color);
}

li a:hover {
    text-decoration: underline;
    /* add effect here */
}

h1 a {
    color: var(--header-text-color);
}

nav {
    position: static;
    flex: 15%;
}

main {
    flex: 85%;
    display: flex;
    flex-direction: column;
}

img {
    width: 15%;
    padding: .3em 0;
}

iframe {
    width: 25%;
    border: none;
    margin: 1em;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#flex {
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    font-family: var(--body-font);
    font-size: 1.2em;
}

#current {
    text-decoration: underline;
}

@media (max-width: 992px) {
    header {
        padding-bottom: 1em;
        margin-bottom: 0;
    }

    h1 {
        margin-block: .67em 0;
    }

    main {
        flex: 100%;
    }

    img {
        width: 45%;
    }

    iframe {
        width: 45%;
    }

    nav {
        flex: 100%;
    }

    nav ul {
        border-bottom: 1px solid black;
        padding: .5em 0;
    }
    
    nav ul li {
        text-align: center;
    }

    main {
        flex: 100%;
    }

    .row {
        justify-content: space-between;
    }

    #videorow {
        justify-content: space-around;
    }

    #flex {
        width: 100%;
    }
}

@media (max-width: 768px) {
    iframe {
        width: 100%;
    }
}

@media (max-width: 600px) {
    img {
        width: 100%;
    }
}